*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;

}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(giuseppe-patriarchi-uDqa5Em2Smo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
h1{
    color: #fff;
}
.text{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}